* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cmdContainer {
    max-width: 800px;
    margin: 0 auto;
    flex: 1;
}
ul {
    position: relative; /* li에 위치 기준을 설정 */
}

li {
    position: relative; /* li 항목에 상대적 위치 지정 */
}
h2 {
    font-size: 28px;
    margin: 20px;
}

.card {
     background-color: #d9e6f6;
        padding: 10px;
        border-radius: 10px;
        margin-top: 10px;
        display: none;
        position: absolute;
        left: 0;
        top: calc(50% + 10px);
        z-index: 10;
        width: calc(20% - 20px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transform: scale(1);
        transition: transform 0.3s ease;
}

.card.active {
    display: block; /* activeCard 상태일 때 보이기 */
}

/* .card 내의 텍스트 크기를 줄이기 */
.card p, .card span {
    font-size: 20px; /* 원하는 크기로 변경 */
    line-height: 1.4; /* 줄 간격도 조정 가능 */
    color: #333; /* 글자 색상 변경 */
}

.card img {
    width: 50%;
    max-width: 50px;
    height: auto;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}

.footer {
    text-align: center;
    margin-top: 20px;
}

.prefix-container {
    display: flex; /* Flexbox를 사용해 두 열 배치 */
    gap: 10px; /* 두 열 사이의 간격 */
}

.prefix-section {
    flex: 1; /* 각 섹션이 같은 비율로 공간을 차지 */
}

.prefix-section ul {
    list-style: none; /* 기본 목록 스타일 제거 */
    padding-left: 0;
}

.prefix-section ul li {
    margin-bottom: 10px;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.prefix-section h4 {
    margin-bottom: 20px;
}

/* 반응형 디자인 - 모바일 */
@media (max-width: 768px) {
    .card {
        width: 170%;
        transform: scale(1);
        /* 모바일에서 기본 크기 */
    }

    .card img {
        max-width: 160%;
        /* 모바일에서 이미지 크기 제한 */
    }
}

/* 반응형 디자인 - PC */
@media (min-width: 769px) {
    .card {
        width: 200%;
        transform: scale(1);
        /* PC에서 기본 크기 */
    }

    .card img {
        max-width: 160%;
        /* PC에서 이미지 크기를 약간 줄임 */
    }
}