/* 전체 레이아웃 */
.group {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  gap: 20px;
  box-sizing: border-box;
}

.group-info {
  flex: 1;
  position: relative;
  text-align: left;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  /* 패딩 포함 */
  width: 100%;
  /* 부모 컨테이너의 너비를 꽉 채움 */
}

.character {
  position: relative;
  /* 자식 요소들에 대한 기준 */
  display: inline-block;
}
.renew-button {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 5px 8px;
  display: inline-block;
  cursor: pointer;
  position: absolute;
  left: 5px;
  top: 5px;
  transition: background 300ms, color 300ms, border 300ms;
}

.renew-button:hover {
  background: #fff;
  color: #000;
}
.character-name{
  font-size: 13px;
}
.renew-button:active {
  transform: scale(0.95);
}
.character-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.character-info {
  display: table-cell;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  width: 30%;
  /* 좌측 열 30% */
  font-size: 14px;
  padding-top: 1px;
}

.character-info .name {
  display: table-cell;
  padding: 5px;
  text-align: left;
  width: 70%;
  font-size: 14px;
  /* 우측 열 70% */
}

.character-info-list {
  display: table;
  width: 100%;
  table-layout: fixed;
  /* 고정된 너비 테이블 */
  border-collapse: collapse;
  box-shadow: 0px 2px 10px 0px rgb(221, 221, 221);
  border-radius: 5px;
  overflow: hidden;
}

.character-info-item {
  display: table-row;
}

.character-info-item:nth-child(even) {
  background-color: #f9f9f9;
  /* 짝수 행 배경색 */
}

.character-info-item:nth-child(odd) {
  background-color: #ffffff;
  /* 홀수 행 배경색 */
}

.guild{
  width: 17px;
  height: 13px;
}
.engraving {
  position: relative;
  /* 자식 요소들에 대한 기준 */
  display: inline-block;
  width: 100%;
   padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  font-size: 14px;
}

.engraving-img{
  width: 30px;
  height: 30px;
  border-radius: 9999px;
}

.engraving li{
  list-style: none;
}
.engraving div {
  display: flex;
  align-items: center; /* 이미지와 텍스트 세로 가운데 정렬 */
}

.engraving-ico {
  background: url(/img/img_engrave_icon.png);
  background-repeat: no-repeat;
  background-position-x: 1px;
  margin-right: 3px;
  width: 24px;
  height: 24px;
}

.engraving-ico.orange {
  background-position-x: -115px;
}
.engraving-ico.yellow {
  background-position-x: -57px;
}
.engraving-ico.puple {
  background-position-x: -86px;
}
.engraving-ico.red {
  background-position-x: -25px;
}
.engraving-ico.level {
  background-position-x: 5px;
}

.group-info p {
  font-size: 13px;
}
/* orange|yellow|puple|blue|green|red */

/* 추가적인 텍스트들 */
.optionName {
  margin: 0;
  padding: 2px 0;
  color: #333;
  font-size: 15px;
}

.group-equip {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* 상단 보석 영역 */
/* 보석 영역 */
.gem-area {
  display: flex;
  gap: 10px;
  /* 보석 간 간격 */
  overflow-x: auto;
  /* 가로 스크롤 허용 */
  padding: 10px 0;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.gem-box {
  position: relative;
  /* 부모 요소를 기준으로 자식 요소를 절대 위치로 배치 가능 */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin: 0 5px;
}

.gem-box.ancient,
.item-image-wrapper.ancient {
  background: linear-gradient(135deg, #3d3325, #dcc999);
}

.gem-box.relic,
.item-image-wrapper.relic {
  background: linear-gradient(135deg, #3d3325, #a23405);
}

.gem-box.legend,
.item-image-wrapper.legend {
  background: linear-gradient(135deg, #3d3325, #a86200);
}

.gem-box.heroic,
.item-image-wrapper.heroic {
  background: linear-gradient(135deg, #27013d, #6e00aa);
}


.gem-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

/* level 텍스트를 우측 하단에 고정 */
.gem-box p {
  position: absolute;
  bottom: 5px;
  /* 아래쪽 여백 */
  right: 5px;
  /* 오른쪽 여백 */
  margin: 0;
  background-color: #fff;
  /* 배지 배경색 */
  color: #000000;
  /* 텍스트 색상 */
  font-size: 10px;
  /* 텍스트 크기 */
  font-weight: bold;
  padding: 2px 6px;
  /* 배지 여백 */
  border-radius: 10px;
  /* 배지 모양 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  /* 배지 그림자 */
}

/* 툴팁 스타일 */
.gem-box .detail {
  display: none;
  /* 기본적으로 숨김 */
  position: absolute;
  /* 부모 기준 위치 */

  left: 50%;
  /* 중앙 정렬 */
  transform: translateX(-50%);
  /* 중앙 정렬 보정 */
  background-color: rgba(0, 0, 0, 0.9);
  /* 어두운 배경 */
  color: #fff;
  /* 텍스트 색상 */
  padding: 10px;
  border-radius: 8px;
  /* 테두리 둥글기 */
  font-size: 14px;
  /* 텍스트 크기 */
  white-space: nowrap;
  /* 텍스트 줄바꿈 방지 */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  /* 그림자 */
  z-index: 9999;
  /* 최상단 표시 */
  bottom: auto;
  top: calc(100% + 10px);
  /* 보석 아래쪽에 툴팁 표시 */
}

/* 마우스 오버 시 툴팁 표시 */
.gem-box:hover .detail {
  display: block;
  /* 마우스 오버 시 표시 */
}

/* 보석 영역 */
.gem-area {
  display: flex;
  gap: 10px;
  /* 보석 간 간격 */
  overflow-x: auto;
  /* 가로 스크롤 허용 */
  overflow: visible;
  /* 부모 요소가 자식의 툴팁을 잘리지 않게 함 */
  padding: 10px 0;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* 스크롤바 스타일 */
.gem-area::-webkit-scrollbar {
  height: 8px;
}

.gem-area::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.gem-area::-webkit-scrollbar-track {
  background: #f0f0f0;
}

/* 하단 장비/액세서리 */
.armor-wrap {
  display: flex;
  gap: 20px;
}

.armor-area,
.accessory-area {
  flex: 1;
  background: #fff;
  border-radius: 10px;
  padding: 0px 20px 0px 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.equipment-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.equipment-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  gap: 15px;
}

.equipment-item:last-child {
  border-bottom: none;
}

.item-image-wrapper {
  position: relative;
  width: 60px;
  /* 부모 컨테이너 크기 */
  height: auto;
  /* 높이는 자식 이미지에 따라 자동 조정 */
  display: flex;
  flex-direction: column;
  /* 세로 정렬 */
  align-items: center;
  /* 가로 가운데 정렬 */
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  /* 자식 요소가 부모 범위를 넘지 않도록 */
}

.item-image {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

/* level 텍스트를 우측 하단에 고정 */
.item-image-wrapper p {
  position: absolute;
  left: 1px;
  margin: 0;
  /* 오른쪽 여백 */
  background-color: rgba(24, 24, 24, 0.7);
  /* 반투명 배경색 */
  color: rgb(255, 255, 255);
  /* 반투명 텍스트 색상 */
  font-size: 12px;
  /* 텍스트 크기 */
  font-weight: bold;
}

.item-progress {
  width: 100%;
  /* 부모 요소 크기에 맞춤 */
  font-size: 12px;
  /* 텍스트 크기 */
  font-weight: bold;
  color: white;
  /* 눈에 띄는 노란색 텍스트 */
  text-align: center;
  box-sizing: border-box;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  letter-spacing: 0.5px;
  /* 텍스트 가독성 향상 */
  margin-top: 1px;
  /* 이미지와 텍스트 간격 */
}

.item-progress.yellow {
  background: #ecc515;
  /* 더 어두운 반투명 배경 */

}

.item-progress.purple {
  background: #7a13be;
  /* 더 어두운 반투명 배경 */
}

.item-progress.blue {
  background: #4671ff;
  /* 더 어두운 반투명 배경 */
}

.item-progress.green {
  background: #78bd4b;
  /* 더 어두운 반투명 배경 */
}

.item-progress.other {
  background: #ecc515;
  /* 더 어두운 반투명 배경 */
}

.item-info {
  flex: 1;
}

.tier {
  font-weight: bold;
  font-size: 14px;
  color: #666;
}

.name {
  font-size: 16px;
  font-weight: bold;
  margin: 5px 0;
}

.attributes {
  list-style: none;
  /* 기본 리스트 스타일 제거 */
  padding: 0;
  /* 패딩 제거 */
  margin: 0;
  /* 마진 제거 */
  display: flex;
  /* 가로 정렬 */
  gap: 8px;
  /* 리스트 아이템 간 간격 */
  height: 10px;
}

.attribute-item {
  /* background-color: #f0f0f0; */
  /* 배경색 */
  color: #333;
  /* 텍스트 색상 */
  border-radius: 5px;
  /* 테두리 둥글게 */
  font-size: 12px;
  /* 텍스트 크기 */
}

.hyper-wrap {
  display: flex;
  /* 한 줄로 정렬 */
  align-items: center;
  /* 세로 정렬 중앙 */
  gap: 2px;
  /* 아이템 간 간격 */
}

.hyper-wrap .item-image {
  width: 16px;
  /* 아이콘 너비 */
  height: 16px;
  /* 아이콘 높이 */
  object-fit: contain;
  /* 이미지 비율 유지하며 크기 조정 */
}

.hyperWarp1 {
  font-size: 14px;
  /* 텍스트 크기 */
  margin: 0;
  /* 기본 여백 제거 */
  line-height: 1.2;
  /* 줄 높이 조정 */
  color: #eab308;
  /* 텍스트 색상 */
}

.hyperWarp2 {
  font-size: 14px;
  /* 텍스트 크기 */
  margin: 0;
  /* 기본 여백 제거 */
  line-height: 1.2;
  /* 줄 높이 조정 */
  color: #333;
  /* 텍스트 색상 */
}

.avgItem {
  list-style: none;
  /* 기본 리스트 스타일 제거 */
  padding: 0;
  /* 패딩 제거 */
  margin: 0;
  /* 마진 제거 */
  display: flex;
  /* 가로 정렬 */
  gap: 2px;
  /* 리스트 아이템 간 간격 */
}

/* 엘릭서 능력 */
.average-elixir-ability {
  font-size: 13px;
  /* 적당한 크기 */
  font-weight: bold;
  /* 강조된 텍스트 */
  color: #333;
  /* 기본 텍스트 색상 */
  margin: 5px 0;
  /* 위아래 여백 */
  text-align: center;
  /* 텍스트 중앙 정렬 */
}

/* 평균 엘릭서초월 값 */
.average-value {
  font-size: 13px;
  /* 조금 더 작은 크기 */
  font-weight: normal;
  /* 일반 텍스트 */
  color: #555;
  /* 조금 더 어두운 색상 */
  margin: 0;
  /* 기본 여백 제거 */
  text-align: center;
  /* 텍스트 중앙 정렬 */
}

/* 부모 컨테이너 정렬 */
.average-item div {
  display: flex;
  /* 가로 정렬 */
  flex-direction: column;
  /* 세로 정렬 */
  align-items: center;
  /* 가로 중앙 정렬 */
  justify-content: center;
  /* 세로 중앙 정렬 */
  padding: 10px;
  /* 내부 여백 */
  border-radius: 8px;
  /* 둥근 테두리 */
}

.accessory-options ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.accessory-options .option-상 {
  font-size: 12px;
  background-color: #ecc515;
  color: white;
}

.accessory-options .option-중 {
  font-size: 12px;
  background-color: #7a13be;
  color: white;
}

.accessory-options .option-하 {
  font-size: 12px;
  background-color: #4671ff;
  color: white;
}

.item-info-horizontal {
  display: flex;
  /* 가로 정렬 */
  flex-direction: row;
  /* 가로로 정렬 */
  align-items: center;
  /* 세로 중앙 정렬 */
  justify-content: flex-start;
  /* 왼쪽 정렬 */
  gap: 10px;
  /* 아이템 간의 간격 */
}

.optionName {
  font-size: 13px;
}

.bangleValue {
  color: black;
}

.arkPassive-area {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* 3분할 */
  gap: 16px;
  /* 칸 사이 간격 */
  /* 가로 스크롤 허용 */
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.arkPassive-column {
  flex: 1;
  padding: 1px;
}

/* 헤더 */
.arkPassive-header {
  display: flex;
  margin-bottom: 8px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 8px;
}

.arkPassive-point {
  font-size: 14px;
  font-weight: bold;
  color: #888;
  margin-left: 8px;
}

.arkPassive-name {
  font-weight: bold;
  font-size: 12px;
}

.arkPassive-point {
  color: #555;
  font-size: 14px;
}

.arkPassive-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.arkPassive-item {
  display: flex;
  align-items: center;
  margin-bottom: 1px;
  padding: 1px;
  border-bottom: 1px solid #eee;
}

.arkPassive-item:last-child {
  border-bottom: none;
}

.arkPassive-image {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  margin-right: 12px;
  object-fit: cover;
  border: 1px solid #ccc;
}

.arkPassive-info {
  display: flex;
  flex-direction: column;
}

.arkPassive-tier {
  font-size: 13px;
  color: #888;
}

.arkPassive-name {
  font-size: 14px;
  color: #333;
}

/* 색상 정의 */
.evolution {
  color: #ff9900;
}

.enlightenment {
  color: #0099ff;
}

.leap {
  color: #66cc33;
}
/* 반응형 스타일 */
@media (max-width: 1200px) {
  .group {
    flex-direction: column;
    /* 모바일에서는 세로 정렬 */
  }

  .character {
    order: -1; /* 순서를 가장 위로 설정 */
    max-width: 100%; /* 부모의 너비를 넘지 않도록 제한 */
    height: auto; /* 이미지 비율에 맞게 자동으로 높이 설정 */
    display: block; /* 블록 레벨로 변경 */
    margin: 0 auto; /* 좌우 여백을 자동으로 설정하여 중앙 정렬 */
    width: 45%; /* 부모 너비에 맞게 이미지를 꽉 채움 */
    height: auto; /* 높이는 자동으로 비율에 맞춰 조정 */
    object-fit: cover; /* 비율 유지하면서 자르기 */
  }
  .engraving{
    order: -1; /* 순서를 가장 위로 설정 */
    max-width: 100%; /* 부모의 너비를 넘지 않도록 제한 */
    height: auto; /* 이미지 비율에 맞게 자동으로 높이 설정 */
    display: block; /* 블록 레벨로 변경 */
    margin: 0 auto; /* 좌우 여백을 자동으로 설정하여 중앙 정렬 */
    width: 45%; /* 부모 너비에 맞게 이미지를 꽉 채움 */
    height: auto; /* 높이는 자동으로 비율에 맞춰 조정 */
    object-fit: cover; /* 비율 유지하면서 자르기 */
  }
  .group-info {
    width: 100%;
    /* 모바일에서 부모 너비 꽉 채우기 */
  }

  .group-equip {
    width: 100%;
    /* 모바일에서 부모 너비 꽉 채우기 */
  }
}